@page "/"

<h1>Home</h1>

<p>
    Converter for converting XML documents to other formats such as Markdown.
</p>

<p>
    To convert nodes into other content, implement your own <code>INodeConverter</code> or <code>IElementConverter</code> and set it up using the 
    <code>ConverterOptions</code> object passed when creating your <code>XmlConverter</code>. This allows you to strip or replace specific XML nodes or XML 
    elements with your own content.
</p>

<p>
    Methods to convert HTML to Markdown can be found in the <code>VDT.Core.XmlConverter.Markdown</code> namespace. Only converting HTML that is also valid XML
    is supported, so if your documents are not well-formed XML an additional conversion is required first.
</p>
